h1 {
    text-align: center;
    color:purple;
    text-decoration-line:underline;
  }

  form {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #text,
  #email,
  #number,
  #select,
  #name {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 3px;
    color:black;
  }

  fieldset {
    padding: 10px;
    margin-bottom: 10px;
  }

  #radio,
  #checkbox {
    margin: 5px;
  }
  #description{
    color:purple;
    margin:20px;
  }
  p{
    color:purple;
  }
  #name-label,#email-label,#number-label,#movie,#hobbies{
    color:purple;
  }
#submit{
background-color:purple;
}